div.tableau {
    position: relative;
    background-color: #eee;
    height: 25em;
    width: 60em;
    div {
        position: absolute;
        border: 0.1em solid cadetblue;
        height: 3em;
        width: 3em;
        text-align: center;
    }
}