body {
  font-family: sans-serif;
}

div.tableau {
  position: relative;
  height: 25em;
  width: 60em;
  div {
    position: absolute;
    height: 3em;
    width: 3em;
    text-align: center;

    border-radius: 0.5em;
    background: lightyellow;
    box-shadow: 10px 10px 22px #adadad, -10px -10px 22px #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #666;
    cursor: pointer;
    &:hover {
      background-color: dimgray;
      color: whitesmoke;
    }
    &:active {
      background-color: black;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  font-size: 0.8em;
  color: lightgray;
  a {
    text-decoration: none;
    color: black;
  }
}

div.details {
  position: absolute;
  top: 10em;
  left: 22em;
  border-radius: 00.5em;
  box-shadow: 2px 2px 4px #adadad, -2px -2px 4px #ffffff;
  border: 0.1em solid #eee;
  width: 10em;
  height: 10em;
  display: flex;
  justify-content: space-between;

  .symbol {
    position: absolute;
    font-size: 5em;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .name {
    position: absolute;
    font-size: 1.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 120%);
  }

  .atomicNbr,
  .atomicMass {
    padding: 0.5em;
  }
}
